.inputWrapper {
	position: relative;
	width: 100%;
}
.inputWrapperWidth {
	position: relative;
}
.textarea {
	width: 100%;
	padding: 9.5px 12px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 14px;
	outline: none;
	resize: vertical;
	line-height: 1.4;
	transition: border-color 0.2s ease;

	&:focus {
		border-color: #0c9488;
	}
}
.input {
	width: 100%;
	padding: 9.5px 0px;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	outline: none;
	transition: border-color 0.2s ease;

	&:focus {
		border-color: #0c9488;
	}
}

.suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 4px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	list-style: none;
	padding: 0;
	z-index: 10;

	li {
		padding: 10px 12px;
		cursor: pointer;
		transition: background-color 0.2s ease;

		&:hover {
			background: #f5f5f5;
		}
	}
}

.error {
	color: red;
	font-size: 12px;
}
