.list__header {
	display: grid;
	grid-template-columns: 0.2fr 0.7fr 4fr 0.5fr 1fr 0.5fr 1fr 1fr;
	gap: 10px;
	color: #f48220;
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
}
.list__items {
	display: grid;
	grid-template-columns: 0.2fr 0.7fr 4fr 0.5fr 1fr 0.5fr 1fr 1fr;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}
.list__id {
	color: #f48220;
	font-size: 16px;
	font-weight: 700;
}
.form {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
	margin-top: 10px;
	gap: 10px;
}
.form__item {
	font-size: 14px;
	font-weight: 700;
	color: #f48220;
}
