.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.mb-10 {
	margin-bottom: 10px;
}
.mt-10 {
	margin-top: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.btn-submit {
	background-color: #f48220;
	border: none;
	padding: 10px;
	font-size: 16px;
	font-family: Gramatika;
	color: white;
	border-radius: 15px;
	width: 200px;
	margin: 0 auto 0px auto;
	cursor: pointer;
}
.add__title {
	color: #f48220;
}
.add__items {
	border: 1px solid #f48220;
	padding: 20px;
	border-radius: 20px;
}
.list__items {
	padding: 20px;
}
.btn-export {
	background-color: #0c9489;
	border: none;
	padding: 5px 10px;
	font-size: 16px;
	font-family: Gramatika;
	color: white;
	border-radius: 15px;
	margin-top: 20px;
	cursor: pointer;
}
.btn-del {
	background-color: #ff6a65;
	border: none;
	padding: 5px;
	font-size: 12px;
	font-family: Gramatika;
	color: white;
	border-radius: 15px;
	width: 50%;
	cursor: pointer;
}
.btn-edit {
	background-color: #f28516;
	border: none;
	padding: 5px;
	font-size: 12px;
	font-family: Gramatika;
	color: white;
	border-radius: 15px;

	cursor: pointer;
}
.btn-add {
	background-color: #0c9488;
	border: none;
	padding: 5px;
	font-size: 12px;
	font-family: Gramatika;
	color: white;
	border-radius: 15px;
	cursor: pointer;
}
.btn-submit:disabled {
	background-color: #0c94896a;
}

.btn-change {
	background-color: #0c94897a;
	border: none;
	padding: 10px;
	font-size: 16px;
	font-family: Gramatika;
	color: white;
	border-radius: 15px;
	width: 50%;
	cursor: pointer;
}

.btn-chang-active {
	background-color: #0c9488;
	border: none;
	padding: 10px;
	font-size: 16px;
	font-family: Gramatika;
	color: white;
	border-radius: 15px;
	width: 50%;
	cursor: pointer;
}

.filter__row {
	display: flex;
	gap: 5px;
}

.filter {
	margin: 15px 0px 10px 0px;
}

.filter__title {
	font-size: 14px;
	color: #0c9488;
}

.social__title {
	font-size: 18px;
	color: #0c9488;
	margin-bottom: 7px;
}

.filter__input,
.filter__input_date {
	border: none;
	border-bottom: 1px solid #0c9488;
	font-size: 16px;
	padding: 5px 0px;
	color: #0c9488;
}
