#root {
	height: 100%;
}

.wrapper {
	width: 98dvw;
	margin: 20px 0 20px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 96%;
}
@media (max-width: 1100px) {
	.wrapper {
		width: 90dvw;
	}
}
.wrapper__item {
	padding: 20px;
	background-color: white;
	border-radius: 20px;
}
.block_bg {
	background-color: #0c94897f;
	color: rgba(0, 0, 0, 0.863);
	font-weight: 500;
}

.block_bg_sub {
	color: rgba(0, 0, 0, 0.685);
	font-weight: normal;
}
.header {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 1100px) {
	.header {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
}

.header__logo {
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	color: #f48220;
	text-transform: none;
	text-decoration: none;
}
.header__title {
	font-weight: bold;
	font-size: 20px;
	color: #f48220;
}
.header__logout {
	font-weight: bold;
	font-size: 20px;
	color: #f52d2d;
	cursor: pointer;
}
.common-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.form__label {
	display: grid;
	grid-template-columns: 20px 20px;
	text-align: center;
}

.route-link {
	color: #f4832098;
	text-decoration: none;
	font-size: 18px;
	padding: 5px 10px 10px 10px;
	border-radius: 10px;
	display: inline-block;
	transition: 0.2s;
}

/* Неактивная — при наведении текст становится оранжевым */
.route-link:hover {
	color: #f48220;
}

/* Активная — фон оранжевый, текст белый */
.route-link.active-link {
	background-color: #f48220;
	color: #ffffff !important; /* жёсткий приоритет, перекроет наследование */
	font-weight: lighter;
}

/* При наведении на активную — ничего не меняется */
.route-link.active-link:hover {
	color: #ffffff !important;
	background-color: #f48220;
}
.err {
	color: red;
}
