.list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list__header {
	display: grid;
	grid-template-columns: 0.2fr 0.7fr 1.3fr 1.7fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
	gap: 10px;
	color: #f48220;
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
}
.list__items {
	display: grid;
	grid-template-columns: 0.2fr 0.7fr 1.3fr 1.7fr 1fr 0.5fr 0.5fr;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}
.list__id {
	color: #f48220;
	font-size: 16px;
	font-weight: 700;
}
.form {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
	margin-top: 10px;
	gap: 10px;
}
.form__item {
	font-size: 14px;
	font-weight: 700;
	color: #f48220;
}
.car__item {
	padding: 20px;
	border: 1px solid #f48220;
	border-radius: 20px;
}

.car_button {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 100px 100px 400px;
	gap: 10px;
	margin-left: 50px;
}
